<head>
  <title>Weather App</title>

</head>

<header>
  <h1>Weather App</h1>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link href="style.css" rel="stylesheet"  type="text/css" />
  
</header>

<body>
<form id="myForm" method="POST" action="http://localhost:3000/location/" target="_blank">
    <div class="form-group">
      <label for="LocationLabel">Location</label>
      <input id="locationID" name="locationName" type="text" class="form-control"  placeholder="Enter location" required>
      <input type="text" id="temperature" name="temperature" readonly />
    </div>
    <button type="submit" id="submitbutton" class="btn btn-primary">Submit</button>
  </form>


</body>

